body{
    margin:0;
    padding:0;
}

h1{
    font-size: 70px;
    color: #333;
    text-align: center;
    margin-top: 150px;
}

.button{
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 50px;
    z-index: 999;
}

.button a{
    text-decoration: none;
}


.btn-open:after{
    font-family: "FontAwesome";
    content: "\f0c9";
    color: #333;
    transition: color .2s;

}

.btn-open:hover:after{
    color: #1c9768;
}

.btn-close:after{
    font-family: "FontAwesome";
    content: "\f00d";
    color: #333;
    transition: color .2s;
    
}

.btn-close:hover:after{
    color: #1c9768;
}

.overlay{
    opacity: 1px;
    position: fixed;
    display: block;
    width: 100%;
    height: 100;
    background: #f2d50a;
    top: 0;
    
}

.nav-container{
    text-align: center;
    width: 90%;
    margin :0 auto;
}

.nav-col{
    display: inline-block;
   padding: 100px 0px;
   width: 24%;
}

.nav-col h2{
    font-size: 50px;
    color: #333;
}

.nav-col ul{
    padding: 0px;
    list-style: none;
}

.nav-col ul li a{
    font-size: 18px;
    display: block;
    padding: 7px 0;
    text-decoration: none;
    color: #f0f0f0;
    transition: color .2s;
    }

.nav-col ul li a:hover{
    color: #1c9768;
    }